<div>
  <h1><%= @list.name %></h1>

  <p><strong>Bookmarks</strong></p>
  <ul class="list-group">
    <% @list.bookmarks.each do |bookmark| %>
      <li class="list-group-item"><%= bookmark.comment %></li>
      <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
  </ul>
  <br>
  <%= link_to lists_path do %>
  <i class="fa-solid fa-circle-left"></i>
  <% end %>
  <%= link_to new_list_bookmark_path(@list) do %>
  <i class="fa-thin fa-pen-to-square"></i>
  <% end %>




  <% @list.bookmarks.each do |bookmark| %>
    <li>Commentaire : <%= bookmark.comment %></li>
    <li>Titre du film : <%= bookmark.movie.title %></li>
    <li>aperçu du film : <%= bookmark.movie.overview %></li>
    <li>url d'affiche du film : <%= bookmark.movie.poster_url %></li>
    <%= link_to "Supprimer bookmark", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
</div>
