<h1>Le détail de la liste sélectionnée</h1>

<h2><%= @list.name %></h2>

<p><strong>Bookmarks</strong></p>
<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item"><%= bookmark.comment %></li>
    <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
</ul>
<br>
<%= link_to "Retour à toutes les listes", lists_path %>
<%= link_to "Ajouter un nouveau signet à cette liste", new_list_bookmark_path(@list) %>

<% @list.bookmarks.each do |bookmark| %>
  <li>Commentaire : <%= bookmark.comment %></li>
  <li>Titre du film : <%= bookmark.movie.title %></li>
  <li>aperçu du film : <%= bookmark.movie.overview %></li>
  <li>url d'affiche du film : <%= bookmark.movie.poster_url %></li>
  <%= link_to "Supprimer bookmark", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
